*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

body{
    color: white;
    background-color:#071057;
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

header{
    width: 100%;
    padding-top: 50px;
}

.menu-link{
    color: white;
}


.left{
    
}

#name-title{
    padding-left: 20px;
    font-size: 20px;
    position: absolute;
    top: 50px;
}

nav{
    width: 100%;
    font-size: 20px;
}

.menu-main{
    margin: 0 40px;
    padding-left: 0;
    text-align:center;
}

.menu-item{
    display: inline;
    margin-left: 5%;
    margin-right: 5%;
}

footer{
    width: max-content;
    height: 6000px;
}

.hamburger-menu{
    display: none;
}










@media only screen and (max-width:780px){
#name-title{
    left: 90px;
}
    .menu-main{
        display: none;
    }

    .hamburger-menu{
        display:inline;
    }
    #menu__toggle {
        opacity: 0;
    }
    #menu__toggle:checked + .menu__btn > span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked + .menu__btn > span::before {
        top: 0;
        transform: rotate(0deg);
    }
    #menu__toggle:checked + .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
        left: 0 !important;
    }
    .menu__btn {
        position: absolute;
        top: 65px;
        left: 35px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 2;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: white;
        transition-duration: .25s;
    }
    .menu__btn > span::before {
        content: '';
        top: -8px;
    }
    .menu__btn > span::after {
        content: '';
        top: 8px;
    }
    .menu__box {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 110px 0;
        list-style: none;
        background-color: dimgray;
        z-index: 1;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition-duration: .25s;
    }
    .menu__item {
        display: block;
        padding: 12px 24px;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
    }
    .menu__item:hover {
        background-color: #CFD8DC;
    }
}