*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

html{
    height: 100%;
}

body{
    color: white;
    background-color: #171717;
    /*background-color:#071057;*/
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

header{
    position: absolute;
    width: 100%;
    background: rgb(1,14,77);
    background: linear-gradient(180deg, rgba(1,14,77,1) 0%, rgba(3,15,75,1) 8%, rgba(19,26,56,1) 43%, rgba(23,23,23,1) 100%);
}
nav{
    font-size: 20px;
}

/*** TOP NAV BAR ***/

.head-top{
}

.menu-link{
    color: white;
}

#name-title{
    padding: 10px 15px;
    font-size: 20px;
    position: absolute;
    width: min-content;
}

.menu-main{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.menu-item{
    margin: 0 15px;
}

.fa-github{
    color:gray;
}

.fa-github:hover{
    color: white;
}

.menu-link:hover{
    color: gray;
}

footer{
    width: max-content;
    height: 6000px;
}

.hamburger-menu{
    display: none;
}

.main-title{
    width: 100%;
    height: 90vh;
    text-align: center;
    /*background-image: url("images/placeholder-dark-2.gif");*/
}

#main-name{
    font-size: 8vw;
    padding-top: 30vh;
    padding-bottom: 25px;
}

#main-p{
    font-size: 2.5vw;
}


/*** NAVIGATION ARROWS ***/
.arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 20px;
  }
  
  .arrows path {
    stroke: #2994D1;
    fill: transparent;
    stroke-width: 1px;  
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite; 
  }
  
  @keyframes arrow
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }
  
  @-webkit-keyframes arrow /*Safari and Chrome*/
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }
  
  .arrows path.a1 {
    animation-delay:-1s;
    -webkit-animation-delay:-1s; /* Safari 和 Chrome */
  }
  
  .arrows path.a2 {
    animation-delay:-0.5s;
    -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
  }
  
  .arrows path.a3 { 
    animation-delay:0s;
    -webkit-animation-delay:0s; /* Safari 和 Chrome */
  }






@media only screen and (max-width:780px){
#name-title{
    position: absolute;
    top: 42px;
    left: 90px;
}
    .menu-main{
        display: none;
    }

    .hamburger-menu{
        display:inline;
    }
    #menu__toggle {
        opacity: 0;
    }
    #menu__toggle:checked + .menu__btn > span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked + .menu__btn > span::before {
        top: 0;
        transform: rotate(0deg);
    }
    #menu__toggle:checked + .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
        left: 0 !important;
    }
    .menu__btn {
        position: absolute;
        top: 65px;
        left: 35px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 2;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: white;
        transition-duration: .25s;
    }
    .menu__btn > span::before {
        content: '';
        top: -8px;
    }
    .menu__btn > span::after {
        content: '';
        top: 8px;
    }
    .menu__box {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 110px 0;
        list-style: none;
        background-color: dimgray;
        z-index: 1;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition-duration: .25s;
    }
    .menu__item {
        display: block;
        padding: 12px 24px;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
    }
    .menu__item:hover {
        background-color: #CFD8DC;
    }
}