*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
}

html{
    height: 100%;
    width: 100%;
}

body {
    color: white;
    background-color:rgb(35, 32, 32);
}

li{
    list-style-type: none;
}

a{
    text-decoration: none;
}

header{
    margin: auto;
    width: 97vw ;
    height: 100vh;
    background-image: url(images/mainBack.jpg);
    background-repeat:no-repeat;
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size:cover;
    background-position:center;
}
nav{
    font-size: 20px;
}

/*** TOP NAV BAR ***/

.head-top{
}

.menu-link{
    color: white;
}

#name-title{
    padding: 10px 15px;
    font-size: 20px;
    position: absolute;
    width: min-content;
}

.menu-main{
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.menu-item{
    margin: 0 15px;
}

.fa-github{
    color:gray;
}

.fa-github:hover{
    color: white;
}

.menu-link:hover{
    color: gray;
}


.hamburger-menu{
    display: none;
}

.main-title{
    width: 100%;
    height: 90vh;
    text-align: center;
}

#main-name{
    font-size: 8vw;
    padding-top: 30vh;
    padding-bottom: 25px;
}

#main-p{
    font-size: 2.5vw;
    padding: 0;
}



/*** NAVIGATION ARROWS ***/
.arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 20px;
  }
  
  .arrows path {
    stroke: #2994D1;
    fill: transparent;
    stroke-width: 1px;  
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite; 
  }
  
  @keyframes arrow
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }
  
  @-webkit-keyframes arrow /*Safari and Chrome*/
  {
  0% {opacity:0}
  40% {opacity:1}
  80% {opacity:0}
  100% {opacity:0}
  }
  
  .arrows path.a1 {
    animation-delay:-1s;
    -webkit-animation-delay:-1s; /* Safari 和 Chrome */
  }
  
  .arrows path.a2 {
    animation-delay:-0.5s;
    -webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
  }
  
  .arrows path.a3 { 
    animation-delay:0s;
    -webkit-animation-delay:0s; /* Safari 和 Chrome */
  }


h2{
    color: white;
}

/*** ABOut ME SECTION ***/

#about-me{
    margin: 100px 1px 10px 1px;
    text-align: center;
}


.about-me-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
}

#me-img{
    border-radius: 100px;
    padding: 5%;
    width: 150px;
}

#description{
    line-height: 25px;
    width: 70%;
}

#projects{
    margin-top: 210px;
    margin-bottom:  300px;
}

#project-list{
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
}

.project-card{
    margin: 12px 0;
    border-radius: 12px;
    background: rgba(60, 57, 57, 0.4);
    width: 40%;
    height: fit-content;
}

.card-img{
    position: relative;
    right: 8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    width: calc(100% + 16px);
    height: auto;
}

.card-text{
    padding: 0 8px 8px 8px;
}

#contact-me{
    text-align: center;
    margin: auto;
    width: 30%;
}


.zoom {
    transition: transform .2s; /* Animation */
  }
  
  .zoom:hover {
    transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.card-img:hover{
    cursor: pointer;
}


@media only screen and (max-width:767px){
#name-title{
    position: absolute;
    top: 30px;
    left: 90px;
}

    .menu-main{
        display: none;
    }

    .hamburger-menu{
        display:inline;
    }
    #menu__toggle {
        opacity: 0;
    }
    #menu__toggle:checked + .menu__btn > span {
        transform: rotate(45deg);
    }
    #menu__toggle:checked + .menu__btn > span::before {
        top: 0;
        transform: rotate(0deg);
    }
    #menu__toggle:checked + .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
    }
    #menu__toggle:checked ~ .menu__box {
        left: 0 !important;
    }
    .menu__btn {
        position: absolute;
        top: 65px;
        left: 35px;
        width: 26px;
        height: 26px;
        cursor: pointer;
        z-index: 2;
    }
    .menu__btn > span,
    .menu__btn > span::before,
    .menu__btn > span::after {
        display: block;
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: white;
        transition-duration: .25s;
    }
    .menu__btn > span::before {
        content: '';
        top: -8px;
    }
    .menu__btn > span::after {
        content: '';
        top: 8px;
    }
    .menu__box {
        display: block;
        position: fixed;
        top: 0;
        left: -100%;
        width: 300px;
        height: 100%;
        margin: 0;
        padding: 110px 0;
        list-style: none;
        background-color: dimgray;
        z-index: 1;
        box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
        transition-duration: .25s;
    }
    .menu__item {
        display: block;
        padding: 12px 24px;
        color: white;
        font-family: 'Roboto', sans-serif;
        font-size: 20px;
        font-weight: 600;
        text-decoration: none;
        transition-duration: .25s;
    }
    .menu__item:hover {
        background-color: #CFD8DC;
    }
    .about-me-content{
        justify-content: center;
    }
    #projects{
        width: 100%;
        padding: 0;
    }

    #project-list{
        text-align: center;
        margin: 10px auto;
        width: 80%;
    }

    .project-card{
        width: 100%;
        margin: 25px 0;
    }

}